<mat-toolbar color="primary">
  <span>Shop Details</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditShopForm()" color="white"> 
    ADD Shop
  </button>
</mat-toolbar>
<div>
<table>
  <tr>
    <th>S.No.</th>
    <th>Shop Name</th>
    <th>Shop ID</th>
    <th>Shop Details</th>
    <th>Contact No.</th>
    <th>Established From</th>
    <th>Country</th>
  </tr>
  <tr>
    <td></td>
    <td>{{shopData.shopName}}</td>
    <td>{{shopData.shopId}}</td>
    <td>{{shopData.shopDetails}}</td>
    <td>{{shopData.contactNo}}</td>
    <td>{{shopData.estd}}</td>
    <td>{{shopData.country}}</td>
  </tr>
</table>
</div>

