.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.mat-elevation-z8 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3%;
}
mat-row {
  text-align: center;
}